

*{
	padding:0;
	margin:0;
		
}
html{
	width:100%;
	height:100%;
    background-color:#333;
    overflow:hidden;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
	height: 100%;
}

h2, h3{
	font-family:$font-secondary;
	padding:0.2rem 2rem;
	font-size: 1.2rem;
}

p, ul.desc {
	font-family:$font-primary;
	font-size: .8rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

/********************************
        TABS
********************************/

ul.tabs{
	width:100%;
	height:3rem;
	/*margin-bottom:30px;*/
}
.tabs li.tab{
	background:$darkgrey !important;
	float:left; 
	display:inline-block;
	width:33.333%;
}
.tabs li.tab a{
	display: block;
	padding: 0.5rem 2rem;
	font-size: 2rem;
	line-height: 2rem;
	height: 3rem;
	color: #fff;
	text-decoration: none;
	border: none;
	background-color: $lightgrey !important;
	text-align: center;
	border-top:1px solid $darkgrey !important;
	border-right:1px solid $darkgrey !important;
	border-left:1px solid $darkgrey !important;
}
.tabs li.tab a.activetab{
	background-color:$darkgrey !important;
	border-top:1px solid $darkgrey !important;
	border-right:1px solid $darkgrey !important;
	border-left:1px solid $darkgrey !important;
}

/********************************
        PAGES
********************************/

[data-role="page"]{
	/*display:none;*/
	background-color:$white;
	color: $black;	
	/*width:100%;*/
	padding-bottom: 60px;
	position:absolute; 
	top: 7rem; 	
	margin-top: -1px;
	left: 100%;
	right: -10px;
	transition: left 0.5s linear,
			  right 0.5s linear;
	z-index: 10;
	/*** Items to trigger hardware acceleration ***/
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
[data-role=page].active{ 
  left: 0;
  right: 0;
  z-index: 5;
  padding-bottom: 60px;
  background-color:$white;
  border-top:1px solid #lightgrey;
}
[data-role=page].show{
  display:block;
}
[data-role=page].hidden{
  display:none;
}
div#home{
	display:block;	
}
[data-role="header"]{
	background-color:$orange;
}
[data-role="header"] h1{
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px $lightgrey;
  padding:0.4rem;
  color: $black;
  text-align:center;
  letter-spacing:0.2rem;
  word-spacing: 0.7rem;
  font-variant:small-caps;
  font-family:$font-secondary;
}
[data-role="footer"] {
	background-color: $orange;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	z-index: 100;
}

[data-role="footer"] h3 {
	color: $black;
	text-align: center;
}

[data-role="content"]{
  margin-top: -1px;
	border-top:1px solid #666;	
  /* to match the top of the active tab */
}
[data-role="content"] p:last-child{
	padding-bottom:4rem;
}

/*** ICONS  ****/

#hometab {
	background: url("../img/home.png") no-repeat 50% 50%;
	background-size: 3rem 3rem;
	text-align: center;	
}

#geotab {
	background: url("../img/compass.png") no-repeat 50% 50%;
	background-size: 3rem 3rem;
	text-align: center;
}

#contacttab {
	background: url("../img/contacts.png") no-repeat 50% 50%;
	background-size: 3rem 3rem;
	text-align: center;
}